name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Build with .NET
      run: dotnet build
    - name: Unit Tests
      run: dotnet test --no-build --no-restore
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: Sentakki (Dev build)
        path: osu.Game.Rulesets.Sentakki/bin/Debug/netstandard2.1/osu.Game.Rulesets.Sentakki.dll
